---
import ProductCard from "../components/ProductCard.astro";
---

<html lang="en">
  <head>
    <title>Bellroy Elm Challenge</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <main>
      <ProductCard />
    </main>
  </body>
</html>